doctype html
html(lang="en" ng-app="Allocations")
  head
    title Andela Allocations
    include shared/head
  body(layout="row" layout-fill)
    md-content.md-default-theme.no-bg(layout="row" layout-fill ui-view)
